html {
  font-family: Arial;
  color: #ffffff;
}

img {
  width: 50%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #020024;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 41%,
    rgba(9, 9, 121, 1) 82%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

/* NavBar Stuff */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000055;
  border: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #120357;
}
